@import 'sass/base';
@import 'sass/variables';
@import 'sass/functions';
@import 'sass/placeholders';
@import 'sass/mixin';
.navbar-shadow {
    transition: all 0.5s;
    box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}
.container {
    width: 71%;
    margin: 0 auto;
}
.row {
    display: flex;
}
.secondary-text {
    letter-spacing: 1px;
    @include weightNcolor(400)
}
.main-text {
    font-size: pixelsToRem(36);
    @include weightNcolor(600)
}
.btn-primary {
    @extend %btn;
    @extend %main-gradient;
    @include transition(.1);
    @include weightNcolor(500,white);
    &:hover{
        box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
    }
}
.xlarge {
    font-size: pixelsToRem(60)
}
.large {
    font-size: pixelsToRem(50);
}
.medium {
    font-size: pixelsToRem(40)
}
.upper {
    text-transform: uppercase;
}
.capital {
    text-transform: capitalize;
}
.justify-center {
    justify-content: center;
}
.justify-around {
    justify-content: space-around;
}
.align-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.d-column {
    flex-direction: column;
}
.w-50 {
    width: 50%
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%
}
.text-center {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 38px;
}
.large-margin {
    margin: 80px auto;
}
.med-margin {
    margin: 40px auto;
}
.gray {
    color: #a7a7a7;
}
.white {
    color: #FFFFFF;
}
.hidden {
    display: none !important;
}

@import 'sass/partials/navbar';
@import 'sass/partials/banner';
@import 'sass/partials/services';
@import 'sass/partials/counters';
@import 'sass/partials/projects';
@import 'sass/partials/feedback';
@import 'sass/partials/plan';
@import 'sass/partials/posts';
@import 'sass/partials/footer';

